<div class="hero min-h-screen w-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse lg:gap-10">
    <div class="flex flex-col gap-6 text-center lg:text-left">
      <h1 class="text-5xl font-bold whitespace-nowrap">Login now!</h1>
      <a class="link link-accent" href="https://stats.uptimerobot.com/KjoAzt80MG">You can check the page status here</a>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form [formGroup]="loginForm" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username or email</span>
          </label>
          <input autocomplete="username" class="input input-bordered" data-testid="usernameInput"
                 formControlName="username"
                 placeholder="Username"/>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input autocomplete="current-password" class="input input-bordered" data-testid="passwordInput"
                 formControlName="password"
                 placeholder="Password"
                 type="password"/>
          <label class="label">
            <a class="label-text-alt link link-hover" href="#">Forgot password? (Coming soon)</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <button (click)="login()" [disabled]="loginForm.invalid" class="btn btn-primary" data-testid="loginButton">
            Login
          </button>
        </div>
        <a data-testid="registerLink" href="../register">
          <div class="text-center pt-4">
            <h3 class="text-xl">Don't have an account</h3>
            <p class="py-0.5">Register here</p>
          </div>
        </a>
      </form>
    </div>
  </div>
</div>
