<div class="text-center w-full bg-base-100 p-2 h-full rounded-2xl">
  <apx-chart [annotations]="chartOptions.annotations!"
             [chart]="chartOptions.chart!"
             [colors]="chartOptions.colors!"
             [dataLabels]="chartOptions.dataLabels!"
             [series]="chartOptions.series!"
             [stroke]="chartOptions.stroke!"
             [theme]="chartOptions.theme!"
             [title]="chartOptions.title!"
             [xaxis]="chartOptions.xaxis!"
             [yaxis]="chartOptions.yaxis!"
             [markers]="chartOptions.markers!"
             class="h-full w-full"
  ></apx-chart>
</div>
