<div class="stats stats-vertical w-full items-center justify-center p-2 h-full" id="chart">
  <apx-chart
    [chart]="chartOptions.chart!"
    [colors]="chartOptions.colors!"
    [dataLabels]="chartOptions.dataLabels!"
    [labels]="chartOptions.labels!"
    [legend]="chartOptions.legend!"
    [plotOptions]="chartOptions.plotOptions!"
    [series]="chartOptions.series!"
    [theme]="chartOptions.theme!"
    [tooltip]="chartOptions.tooltip!"
    class="w-full items-center justify-center"
  ></apx-chart>
</div>
