<div class="stats stats-vertical shadow w-full h-full">
  <div class="stat place-items-center">
    <div class="stat-title">Current BMI</div>
    <div class="stat-value">{{ bmi?.bmi }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">BMI Category</div>
    <div class="stat-value">{{ bmi?.category }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">BMI Change</div>
    <div class="stat-value">{{ bmiChange }}</div>
  </div>
</div>
