<div class="text-center w-full rounded-lg bg-base-100 p-2">
  <apx-chart [annotations]="chartOptions.annotations!"
             [chart]="chartOptions.chart!"
             [colors]="defaultAxisChartOptions.colors!"
             [dataLabels]="defaultAxisChartOptions.dataLabels!"
             [markers]="chartOptions.markers!"
             [series]="chartOptions.series!"
             [stroke]="defaultAxisChartOptions.stroke!"
             [theme]="defaultAxisChartOptions.theme!"
             [title]="chartOptions.title!"
             [tooltip]="chartOptions.tooltip!"
             [xaxis]="chartOptions.xaxis!"
             [yaxis]="chartOptions.yaxis!"
             class="w-full h-full"
  ></apx-chart>
</div>
