<div class="text-center w-full rounded-lg bg-base-100 p-2 h-full">
    <apx-chart [annotations]="chartOptions.annotations!"
               [chart]="chartOptions.chart!"
               [colors]="chartOptions.colors!"
               [dataLabels]="chartOptions.dataLabels!"
               [series]="chartOptions.series!"
               [stroke]="chartOptions.stroke!"
               [theme]="chartOptions.theme!"
               [title]="chartOptions.title!"
               [xaxis]="chartOptions.xaxis!"
               [yaxis]="chartOptions.yaxis!"
               class="overflow-auto"
    ></apx-chart>
</div>
