<div class="stats stats-vertical shadow w-full h-full">

  <div class="stat place-items-center">
    <div class="stat-title">Days to target</div>
    <div class="stat-value">{{daysToGo}}</div>
  </div>


  <div class="stat place-items-center ">
    <div class="stat-title">Days from start</div>
    <div class="stat-value">{{dayIn}}</div>
  </div>

<!--  <div class="stat place-items-center">-->
<!--    <div class="stat-title">Predicted weight</div>-->
<!--    <div class="stat-value">{{predictedTargetWeight?.weight}}kg</div>-->
<!--  </div>-->
</div>
