<div class="text-center w-full bg-base-100 p-2 h-full rounded-2xl">
  <apx-chart [annotations]="chartOptions.annotations!"
             [chart]="chartOptions.chart!"
             [colors]="defaultAxisChartOptions.colors!"
             [dataLabels]="defaultAxisChartOptions.dataLabels!"
             [markers]="chartOptions.markers!"
             [series]="chartOptions.series!"
             [stroke]="defaultAxisChartOptions.stroke!"
             [theme]="defaultAxisChartOptions.theme!"
             [title]="chartOptions.title!"
             [xaxis]="chartOptions.xaxis!"
             [yaxis]="chartOptions.yaxis!"
             [tooltip]="chartOptions.tooltip!"
             class="h-full w-full"
  ></apx-chart>
</div>
