<div class="flex flex-row flex-wrap gap-2 w-full items-center justify-center">
  <div class="card lg:w-52 w-full items-center bg-gradient-to-r from-neutral to-neutral-content text-primary">
    <a href="./input">
      <div class="card-body w-full">
        <h2 class="card-title text-3xl">{{latestWeight}}<sub>kg</sub></h2>
        <p>Current weight</p>
        <div class="card-actions w-full">
          <button class="btn w-full text-primary">Enter data</button>
        </div>
      </div>
    </a>
  </div>

  <div class="card lg:w-52 w-full items-center bg-gradient-to-r from-secondary to-secondary-content text-primary">
    <a href="./input">
      <div class="card-body w-full">
        <h2 class="card-title text-3xl">{{(bmi).toFixed(2)}}<sub></sub></h2>
        <p>Current bmi</p>
        <div class="card-actions w-full">
          <button class="btn w-full text-primary">Enter data</button>
        </div>
      </div>
    </a>
  </div>

  <div class="card lg:w-52 w-full items-center bg-gradient-to-r from-accent to-accent-content text-primary">
    <a href="./profile">
      <div class="card-body w-full">
        <h2 class="card-title text-3xl">{{(userService.user?.targetWeight)}}<sub>kg</sub></h2>
        <p>Target weight</p>
        <div class="card-actions w-full">
          <button class="btn w-full text-primary">Edit profile</button>
        </div>
      </div>
    </a>
  </div>

  <div class="card lg:w-52 w-full items-center bg-gradient-to-r from-accent to-accent-content text-primary">
    <a href="./profile">
      <div class="card-body w-full">
        <h2 class="card-title text-3xl">{{(userService.user?.targetWeight)}}<sub>kg</sub></h2>
        <p>Target weight</p>
        <div class="card-actions w-full">
          <button class="btn w-full text-primary">Edit profile</button>
        </div>
      </div>
    </a>
  </div>
</div>
